<div class="container">
    <h2 id="firstHead">Exclusive Deals of Furniture Collection </h2>
    <p id="paragraph">Explore different categories. Find the best deals.</p>
    <button class="btn">Shop Now </button>
</div>