<div class="newsletter-section">
    <div class="left-newsletter">
        <%=image_tag "latestNews.png", class: "image"%>
    </div>
    <div class="right-newsletter">
        <p id="join-title">Join Our </p>
        <p id="news-title"> Newsletter</p>
        <p id="news-description">Receive exclusive deals, discounts and many offers. </p>
        <input class="news-input" placeholder='Enter your email' />
        <button class="news-btn">Subscribe</button>
    </div>
</div>